.body {
    background-image: url('groceries.jpg');
    background-size:cover;
   
    
    
}

.formTableWrapper {
    background-color: rgba(204, 85, 17, 0.918);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(238, 86, 48, 0.589);
}